<!DOCTYPE html>
<html lang="en">
    {% include './partials/head.html' %}
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Gastei</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sair</a>
            </li>
        </ul>
    </nav>
    <!-- <div class="row d-flex justify-content-center align-items-center">
        <div class="jumbotron col-sm-6">
            <h1 class="display-4">Bem-vindo ao Gastei!</h1>
            <p class="lead">Uma planilha fincanceira para um maior controle sobre todas as suas saídas e entradas.</p>
            <hr class="my-4">
            <p>Comece agora</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('new_users') }}" role="button">Cadastrar</a>
            <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Entrar</a>
        </div>
    </div> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 xol-lg-7 col-md-9">
                <div class="card shadow-lg">
                    <h1 class="display-4">Bem vindo ao Gastei</h1>
                    <p class="lead">Uma planilha financeira para maior controle do seu dinheiro</p>
                    <a href="#" class="btn btn-primary btn-lg">Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>
</body>