<form action="" method="post">
    {{ form.csrf_token }}
    <div class="row mb-3">
        <div class="col-12">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
    </div>
    {% if not editing %}
        <div class="row mb-3">
            <div class="col-12">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>
        </div>
    {% endif %}
    <button class="btn btn-primary mt-4 w-100">Login</button>
    <p class="mt-4">Ainda não possui conta? <a href="{{ url_for('new_users') }}">Cadastre-se</a></p>
</form>
