<form action="" method="post">
    {{ form.csrf_token }}
    <div class="row mb-3">
        <div class="col-12">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
    </div>

    {% if not editing %}
        <div class="row mb-3">
            <div class="col-12">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>
        </div>
    {% endif %}
    <button class="btn btn-primary w-100">Salvar</button>
</form>