.table-bordered td:last-child {
    border-right: 1px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
    border: 0px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.table-bordered thead td,
.table-bordered thead th {
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.border-top{
    border-top-width: 3px !important;
}

.border-left-3{
    border-left-width: 3px !important;
}

.menu-icon {
    width: 24px;
    height: 24px;
}