  <!DOCTYPE html>
<html lang="en">
{% include './partials/head.html' %}
<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Gastei</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
          {% if session.logged_in %}
            <a class="nav-link" title="Sair" href="{{ url_for('logout') }}">
              <span data-feather="user"></span>
              Olá, {{ session.username }}
              &nbsp;
              <span data-feather="log-out"></span>
            </a>
          {% endif %}
      </li>
    </ul>
  </nav>
    <div class="container-fluid" style="margin: 1.5rem 0 3rem 0;" >
      <div class="row">
        {% if session.logged_in %}
        {% include './partials/navbar.html' %}
        {% endif %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
            <h1 class="h1 font-weight-light"> {% block page_title %}{% endblock %} </h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            {% include './partials/notifications.html'  %}
              {% block link_new %}{% endblock %}
            </div>
          </div>
          <div>
            {% block content %}{% endblock %}
          </div>
        </main>
        {% if session.logged_in %}
          {% include './partials/bottom_menu.html' %}
        {% endif %}
      </div>
    </div>
    <!-- Ícones -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script>
        function deletar(link){
            var positive = confirm('Você deseja realmente excluir?\nTodos os registros pertencentes a este vídeo serão excluídos!');
            if (positive){
                window.location.href= link 
            }
        }
    </script>
</body>
</html>
